.projects-container {
    display: block;
    align-items: stretch;
}

.project-option {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    max-height: 500px;
    height: auto;
    margin: auto 3rem;
}

.project-option img {
    width: auto;
   height: auto;
   max-width: 640px;
   max-height: 480px;
}

.description {
    justify-self: center;
    align-self: center;
    height: auto;
    flex-flow: column wrap;
    padding: 0 4rem;
    line-height: 1.6;
}

.contact-options {
  width: 100%;
  height: auto;
  margin: 2% auto;
  display: inline-flex;
  justify-content: center;
}

.number, .address, .to-form {
  display: block;
  align-self: stretch;
  width: 30%;
  max-width: 400px;
  line-height: 1.5;
}

@media only screen and (max-width: 895px) {
    nav li:last-child {
      display: block;
    }
  
    header {
      padding: 1rem 1rem;
    }

    header nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.8rem;
        margin: 3%;
        height: 1.5rem;
      }

    header ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      }
    
      header li {
        padding: 1rem;
        font-size: 0.95rem;
      }
  
      #logo img {
          max-width: 50px;
          max-height: 50px;
      } 
}

@media only screen and (max-width: 1200px) {
    footer {
        max-height: 300px;
        height: auto;
        font-size: 0.8rem;
        margin: 2% 0;
        max-width: 100%;
        width: auto;
    }

    .projects-container {
        margin: 2%;
    }

    .project-option {
        display: flex;
        justify-content: center;
        font-size: 0.85rem;
        max-height: 400px;
        margin: 2% auto;
        padding: 1% auto;
    }

    .project-option img {
      max-width: 100%;
      max-height: auto;
       margin: 1%;
    }
    
    .description {
        max-height: auto;
        padding: 0 2rem;
        line-height: 1.4;
        font-size: 0.9rem;
    } 
}

@media only screen and (max-width: 600px) {
  header {
    display: block;
    width: 100%;
    max-height: 150px;
    height: auto;
  }

  header nav {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 1.25rem;
    }

  header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header li {
    padding: 0 1rem;
    font-size: 0.85rem;
  }

  header span {
      width: 100%;
      height: 100%; 
      margin-left: 1%;
      padding-bottom: 0.5rem;
  }

  #logo img {
      max-width: 40px;
      max-height: 40px;
  }
  

  .project-option {
    display: flex;
    align-items: center;
    width: auto;
    max-width: 100%;
    flex-flow: column wrap;
    max-height: 500px;
    height: 100%;
    margin: 2% 0.5rem;
  }

  .description {
    max-height: 100%;
    height: auto;
    padding: 0 2rem;
    line-height: 1.4;
    font-size: 0.8rem;
  } 

}