/* latin */
@font-face {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/comfortaa/v45/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4TbMDrMfJh1Zyc61YA.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Gruppo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/gruppo/v21/WwkfxPmzE06v_ZW1XnrBGoIAUA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Martian Mono';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/martianmono/v3/2V0PKIcADoYhV6w87xrTKjs4CYElh_VS9YA4TlTnaTq9wXulPFk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Martian Mono';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/martianmono/v3/2V0PKIcADoYhV6w87xrTKjs4CYElh_VS9YA4TlTnaTq9wXulPFk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* All */

h1, h2, h3 {
    font-family: 'Martian Mono';
}

main {
    position: relative;
    top: 6.25rem;
    display: block;
    text-align:center;
    margin: 0 10%;
}

p, footer, label, input {
    font-family: 'Comfortaa';
}

body {
    background-color: #191717;
    color: #F1EFEF;
    box-sizing: border-box;
    margin-bottom: auto;
}

/* Header */

header {
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100%;
    background-color: #191717;
  }
  
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
    height: 2.5rem;
  }

header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: space-between;
}
  
nav li {
    list-style: none;
    padding: 2rem;
    font-family: 'Martian Mono';
    padding: 0 2rem;
}

nav li:active {
    color: whitesmoke;
}

nav a {
    vertical-align: bottom;
    font-size: 1rem;
    color: whitesmoke;
  }

header span {
    width: 100%;
    height: 100%; 
    margin-left: 2.5rem;
    padding-bottom: 1rem;
}

#logo img {
    max-width: 60px;
    max-height: 60px;
}

/* Services */

.services-container {
    margin: 0 auto;
    height: auto;
    max-height: 500px;
    width: 100%;
}

.services {
    margin: 1% 0;
    padding: 0;
    display: inline-flex;
    align-items: stretch;
    justify-content: center;
    height: auto;
}

.service-option {
    padding: 0 7rem;
    line-height: 1.5;
    width: 100%;
}

#extra-phrase {
    margin: 2.5rem 30rem;
    line-height: 1.6;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto;
    max-height: 100%;
    width: 100%;
    background-color: #CCC8AA;
    color: #191717; 
}

.contact-options {
    width: 100%;
    height: auto;
    margin: 1% auto;
    display: inline-flex;
    justify-content: center;
}

.number, .address, .to-form {
    display: block;
    align-self: stretch;
    width: 30%;
    max-width: 450px;
    line-height: 1.5;
}
 

@media only screen and (max-width: 895px) {
    nav li:last-child {
      display: block;
    }
  
    header {
      padding: 1rem 1rem;
    }

    header nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.8rem;
        margin: 3%;
        height: 1.5rem;
      }

    header ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
      }
    
      header li {
        padding: 1rem;
        font-size: 0.95rem;
      }
  
      #logo img {
          max-width: 50px;
          max-height: 50px;
      }
      
      .services-container {
        display: flex;
        flex-flow: column wrap;
        margin: 1% 2%;
    }
    
    .services {
        margin: 1% auto;
        padding: 0 auto;
        display: flex;
        font-size: 0.85rem;
        justify-content: center;
    }
    
    .service-option {
        padding: 0 5%;
        line-height: 1.5;
        width: 100%;
    }
    
    #extra-phrase {
        margin: auto 2%;
        line-height: 1.4;
        padding: 0 2rem;
    }

    footer {
        width: 100%;
    }
}
  
  @media only screen and (max-width: 600px) {
    header {
      display: block;
      width: 100%;
      max-height: 150px;
      height: auto;
    }

    header nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 1.25rem;
      }
  
    header ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
    }
  
    header li {
      padding: 0 1rem;
      font-size: 0.85rem;
    }

    header span {
        width: 100%;
        height: 100%; 
        margin-left: 1%;
        padding-bottom: 0.5rem;
    }

    #logo img {
        max-width: 40px;
        max-height: 40px;
    }

    .services {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        font-size: 0.75rem;
        height: 100%;
        max-width: 100%;
        width: auto;
        margin: 1%;
    }

    .service-option {
        padding: 0 2rem;
        line-height: 1.3;
        width: auto;
        margin: auto 1%;
        max-width: 100%;
        justify-self: center;
    }
    
    #extra-phrase {
        max-height: 100%;
        height: auto;
        padding: 0 2rem;
        line-height: 1.3;
        font-size: 0.75rem;
        margin: 1% auto;
    }

    footer {
        height: auto;
        font-size: 0.7rem;
        margin: 1% 0;
        max-width: 100%;
    }
  }

@media only screen and (max-width: 1200px) {
    footer {
        height: auto;
        font-size: 0.8rem;
        margin: 2% 0;
        max-width: 100%;
    }

    .services-container {
        display: flex;
        margin: 0 2%;
        width: 100%;
        height: auto;
    }
    
    .services {
        display: block;
        font-size: 0.85rem;
        text-align: center;
        height: auto;
    }
    
    .service-option {
        padding: 2% 3rem;
        line-height: 1;
        width: auto;
        max-width: 700px;
        justify-self: center;
    }
    
    #extra-phrase {
        margin: 0 3%;
        line-height: 1.3;
    }
}